<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center> 
<center><b><h1>Shruti | 23010101311 | 30-12-2024</b></center>  
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [13]:
t1 = (1,2,3,4,5)
sum = 0
for i in t1:
    sum = sum + i;
print('Sum =',sum)

Sum = 15

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [85]:
t1 = (10, 20, 30, 40, 50, 1, 2, 3, 4, 5)
k = int(input('Enter K :'))
t1 = sorted(t1) #Sorted attribute sort the data
min = t1[:k] #strat from index 0 upto k-1
max = t1[-k:] #strat from -k end to -1 and last index is always -1 in reverse case
print('Max k elements are :',max,'\nMin k elements are :',min)

Enter K : 3

Max k elements are : [30, 40, 50]
Min k elements are : [1, 2, 3]

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [178]:
t1 = (10,20,30,40,50)
t2 = (1,2,3,4,5)
t3 = (2,4,6,8,10)

l1 = [t1,t2,t3]
k = int(input('Enter k :'))

for i in l1:
    count = 0
    for j in i:
        if j % k == 0:
            count+=1
    if(count==len(i)):
        print(i)

Enter k : 2

(10, 20, 30, 40, 50)
(2, 4, 6, 8, 10)

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [157]:
l1 = [2,4,6,8,10]
ans = [(i,i**3) for i in l1]
print(ans)

[(2, 8), (4, 64), (6, 216), (8, 512), (10, 1000)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [170]:
t1 = (10,20,30,-40,50)
t2 = (1,2,-3,4,5)
t3 = (2,4,6,8,10)
l1 = [t1,t2,t3]

for i in l1:
    count = 0
    for j in i:
        if j>0:
            count+=1
    if(count==len(i)):
        print(i)

(2, 4, 6, 8, 10)

### 06) WAP to add tuple to list and vice â€“ versa.

In [206]:
t1 = (1,2)
t2 = (3,4)
t3 = (10,20)

l1 = [t1,t2]

l2 = [5,6]
l3 = [7,8]

t4 = (l1,l2)

l1.append(t3)
print(l1)

t4 = list(t4)
t4.append(l3)
t4 = tuple(t4)
t4

[(1, 2), (3, 4), (10, 20)]

([(1, 2), (3, 4), (10, 20)], [5, 6], [7, 8])

In [210]:
t1 = (1,2)
t2 = (3,4)
t3 = (10,20)

l1 = [t1,t2]

l2 = [5,6]
l3 = [7,8]

t4 = (l1,l2)

l1.append(t3)
print(l1)

t4 = t4 + (l3,)
print(t4)

[(1, 2), (3, 4), (10, 20)]
([(1, 2), (3, 4), (10, 20)], [5, 6], [7, 8])

### 07) WAP to remove tuples of length K.

In [17]:
t1 = (1,2,5,6,7)
t2 = (3,4)
t3 = (10,20,30)
t4 = (1,2,3,4,5,6)

l1 = [t1,t2,t3,t4]
l2 = []

k = int(input('Enter length of tuple :'))

for i in l1:
    if len(i)!=k:
       l2.append(i)
print(l2)

Enter length of tuple : 6

[(1, 2, 5, 6, 7), (3, 4), (10, 20, 30)]

### 08) WAP to remove duplicates from tuple.

In [33]:
t1 = (1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8)
t2 = tuple(set(t1))
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [49]:
t1 = (1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8)
t2 = ()
for i in t1:
    if i not in t2:
        t2 = t2 + (i,)
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [63]:
t1 = (1, 2, 3, 4, 5)
t2 = ()
for i in range(len(t1)-1):
    m = t1[i]*t1[i+1]
    t2 = t2 + (m,)
print(t2)

(2, 6, 12, 20)

### 10) WAP to test if the given tuple is distinct or not.

In [5]:
t1 = (1,2,3,4,5)
for i in t1:
    if(t1.count(i)!=1):
       print('Tuple has duplicate members.')
       break;
else:
     print('Tuple is distinct.')

Tuple is distinct.